@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: none; */
} 

body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

header,body{
    background-color: #de5c3d;
}

/* HEADER */

.icons_header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.icons.battery{
    transform: rotate(90deg);
}

img.icons{
    height: 16px;
    width: 16px;
}

/* LOGO */
.logo{
    display: flex;
    justify-content: center;

}
.logo img{
    width: 80vw;
    height: 20vh;

    /* position: absolute;   */
    transform: scale(5);
    
}

/* FORM */
#formulario{
    background-color: #ffffff;
    height: 50vh;
    width: 80vw;
    margin-top: 25px;
    padding: 15px;
    
    border-radius:  15px 0px 15px 0px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#formulario form h1 {
    font-weight: 400;
    font-size: x-large;
    margin-top: 15px;
}

#formulario form h3 {
    font-weight: 300;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario form a {
    font-weight: 300;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #de5c3d;
}

#formulario form .input_menu .input_group{
    border: 0;
	border-bottom: 1px solid #777777;

    height: 2.5vh;
}

.input_menu{
    width: 85%;
    align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_group{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}


.content form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input{
    width: 100%;
    margin-left: 10px;

    border: none;

    font-family: 'Inter', sans-serif;
}



.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SUBMIT */

button{
    
    color: #ffffff;
    letter-spacing: 1px;

    height: 35px;
    width: 100%;
    
    
    border-radius: 12px;
    border: none;

    font-size: 10px;
    text-transform: uppercase;
}


.link{

    display: flex;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 15px;

}

#formulario .link h3{
    margin-top: 0px;
    color: #777777;
    margin-right: 5px;
}

.link a{
    text-decoration: none;
    color: #de5c3d;
}

/* INPUT */

.input_group input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;

    font-weight: 500;
}