button.login{
    background-color: #de5c3d; 
    margin-bottom: 15px;
}

button.facebook{
    background-color: #507CC0; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button.google{
    background-color: #B1B1B1; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/* REMEBER - FORGET */

.rememberForget{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    margin-bottom: 30px;
}

.rememberForget .remember{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rememberForget h3{
    margin-top: 0px;
    color: #777777;
    margin-left: 5px;

    font-size: small;
}


/* ICONS */

.google img,
.facebook img{
    height: 16px;
    width: 16px;
}

/* OU */