<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />  
  <title>Guest cadastro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="stylesheet" href="../css/geral.css">
  
</head>

<body>
  <header>      
    
    <div class="icons_header">

        <div>09:41</div>
        <div class="icons_triplo">
          <img class="icons" src="../ICONS/signal.svg" alt="icone_sinal">
          <img class="icons" src="../ICONS/wifi.svg" alt="icone_wif">
          <img class="icons battery" src="../ICONS/battery.svg" alt="icone_bateria">
        </div>
        
    </div>
</header>

  <div class="logo">
    <img src="../ICONS/Prancheta 1.png" alt="" >
  </div>

  <div class="container" >
    <a class="links" id="paracadastro"></a>
     
    <div class="content">      
      
 
      <!--FORMULÁRIO DE CADASTRO-->
      <div id="formulario">
        <form method="post" action=""> 
          <h1>Cadastra-se agora na Guest!</h1> 
          <h3>Preencha o formulário para continuar</h3>
        
          <div class="input_menu">

            <div class="input_group"> 
              <img class="icons" src="../ICONS/profile.svg" alt="icone_perfil">
              <input class="input name" type="text" placeholder="Nome"/>
            </div>

            <div class="input_group"> 
              <img class="icons" src="../ICONS/telephone.svg" alt="icone_telefone"> 
              <input class="input" type="phone" placeholder="Telefone" />
            </div>
            
            <div class="input_group"> 
              <img class="icons" src="../ICONS/email.svg" alt="icone_carta">
              <input class="input" type="email" placeholder="Email"/> 
            </div>
            
            <div class="input_group"> 
              <img class="icons" src="../ICONS/locker.svg" alt="icone_cadeado">
              <input id="senha" class="input" type="password" placeholder="Senha"/>
              <img onclick="mostrarOcultarSenha()" class="icons" src="../ICONS/eye.svg" alt="icone_olho">
            </div>

            <div class="input_group"> 
              <img class="icons" src="../ICONS/locker.svg" alt="icone_cadeado">
              <input id="confirmarSenha" class="input" type="password" placeholder="Confirmar senha"/>
              <img onclick="mostrarOcultarSenha2()" class="icons" src="../ICONS/eye.svg" alt="icone_olho">
            </div>
            
            <button type="submit" class="register">Cadastrar</button>
            
            <div class="link">
              <h3>Já tem uma conta?</h3>  
              <a href="#paralogin"> Entrar </a>
            </div>

          </div>             

        </form>

      </div>
    </div>
  </div>  


</body>
</html>

<script>
  function mostrarOcultarSenha(){
    var senha = document.getElementById("senha");
    if(senha.type=="password"){
      senha.type = "text";
    }else{
      senha.type = "password";
    }
  }

  function mostrarOcultarSenha2(){
    var senha = document.getElementById("confirmarSenha");
    if(senha.type=="password"){
      senha.type = "text";
    }else{
      senha.type = "password";
    }
  }


</script>