<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />  
  <title>Guest login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="stylesheet" href="../css/geral.css">
  <link rel="stylesheet" href="../css/login.css">
</head>


<body>
    <header>      
    
        <div class="icons_header">
    
            <div>09:41</div>
            <div class="icons_triplo">
              <img class="icons" src="../ICONS/signal.svg" alt="icone_sinal">
              <img class="icons" src="../ICONS/wifi.svg" alt="icone_wif">
              <img class="icons battery" src="../ICONS/battery.svg" alt="icone_bateria">
            </div>
            
        </div>
    </header>

    <div class="logo">
        <img src="../ICONS/logo-png.png" alt="" >  
    </div>

    <div class="container" >
       <a class="links" id="paracadastro"></a>
       <a class="links" id="paralogin"></a>
        
        <div class="content">      
        <!--FORMULÁRIO DE LOGIN-->
        <div id="formulario">
            <form method="post" action=""> 
            <h1>Bem vindo de novo!</h1> 
            <h3>Registre-se para continuar</h3>

            <div class="input_menu">

            <div class="input_group"> 
                <img class="icons" src="../ICONS/email.svg" alt="icone_carta">
                <input class="input" type="email" placeholder="Email"/> 
            </div>

            <div class="input_group"> 
                <img class="icons" src="../ICONS/locker.svg" alt="icone_cadeado">
                <input id="senha" class="input" type="password" placeholder="Senha"/>
                <img onclick="mostrarOcultarSenha()" class="icons" src="../ICONS/eye.svg" alt="icone_olho">
              </div>

            <div class="rememberForget">
                
                <div class="remember">
                    <input type="checkbox"/> 
                    <h3>Lembrar de mim</h3>
                </div>
                
                <a href="#paraesqueceuasenha"> Esqueceu a senha?  </a>
                
            </div>
            
            <button type="submit" class="login">ENTRAR</button>
            
            <div class="link">
              <h3>Não tem uma conta?</h3>  
              <a href="#paralogin"> Registre-se</a>
            </div>

            <h3>Ou</h3>
             
            <button type="submit" class="facebook">Conectar com o <img src="../ICONS/facebook.svg" alt="">Facebook</button>
            <button type="submit" class="google">Conectar com o <img src="../ICONS/google.svg" alt=""> Google</button>

            </form>
        </div>

    
</body>

<script>
    function mostrarOcultarSenha(){
    var senha = document.getElementById("senha");
    if(senha.type=="password"){
      senha.type = "text";
    }else{
      senha.type = "password";
    }
  }
</script>
        

    

        